html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

/* font-family: 'Raleway', sans-serif; */

body {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    color: #242121;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #01353e;
    position: relative;
}

.title::after {
    content: "/";
    position: absolute;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    color: #00b2a0;
    bottom: -30px;
}

.header {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.header::before {
    content: "";
    background: linear-gradient(
        180deg,
        #01353e 0%,
        rgba(51, 51, 51, 0.595076) 31.64%,
        rgba(51, 51, 51, 0.222586) 74.35%,
        rgba(51, 51, 51, 0) 99.87%
    );
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50vh;
}

.header__top-inner {
    display: flex;
    align-items: center;
    padding-top: 35px;
    position: relative;
}

.header__content{
    padding-top: 100px;
}

.header__top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
   background-color: transparent;  
   transition: all .5s;
}

.logo {
    margin-right: 145px;
    padding-right: 15px;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
}

.menu__list-item {
    margin-left: 43px;
    margin-bottom: 5px;
}

.menu__list-link {
    letter-spacing: 0.6;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding: 0 1px 1px;
    transition: all 0.5s;
}

.menu__list-link:hover {
    border-bottom: 1px solid #00b2a0;
}

.header__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 98px);
}

.header__title {
    margin-top: auto;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    letter-spacing: 0.6px;
    color: #0d302c;
    text-transform: uppercase;
}

.header__subtitle {
    margin-bottom: auto;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.6px;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.header__icon {
    margin-bottom: 93px;
}

.info-descr {
    padding: 190px 0 200px;
}

.info-descr__title {
    margin-bottom: 96px;
    text-align: center;
}

.info-descr__inner {
    display: flex;
    flex-wrap: wrap;
}

.descr-info__content {
    max-width: 480px;
    margin-bottom: 30px;
    margin-right: 120px;
}

.advantages-school {
    background: #f8f8f8;
    padding: 200px 0;
}

.advantages-school__title {
    margin-bottom: 100px;
    text-align: center;
}

.advantages-school__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 76px;
}

.advantages-school__item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__title {
    font-size: 24px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 19px;
    text-transform: uppercase;
    max-width: 220px;
    min-height: 60px;
    position: relative;
    align-items: center;
}

.item__title--group::before {
    content: "";
    background-image: url("../images/group.svg");
    position: absolute;
    left: -56px;
    top: -20px;
    width: 50px;
    height: 50px;
}

.item__title--group-air::before {
    content: "";
    background-image: url("../images/group-air.svg");
    position: absolute;
    left: -62px;
    top: 0;
    width: 50px;
    height: 50px;
}

.item__title--group-serf::before {
    content: "";
    background-image: url("../images/group-serf.svg");
    position: absolute;
    left: -56px;
    top: -5px;
    width: 50px;
    height: 50px;
}

.item__title span {
    display: block;
    padding-top: 5px;
}

.item__descr span {
    display: block;
}

.statistics-school__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics-school__progress {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    max-width: 370px;
}

.statistics-school__progress-item {
    margin-bottom: 10px;
    width: 100%;
    padding-top: 24px;
}

.statistics-school__progress-item span {
    position: absolute;
    margin-left: -15px;
    font-size: 24px;
    line-height: 8px;
    height: 15px;
}

.statistics-school__progress-item img {
    display: inline-block;
    padding-right: 30px;
}

.statistics-school__descr {
    max-width: 600px;
}

.statistics-school__descr-text {
    margin-bottom: 30px;
}

.stimulus__title {
    padding-top: 200px;
    margin-bottom: 100px;
}

.content-text {
    margin-bottom: 30px;
    max-width: 507px;
}

.stimulus {
    background-image: url("../images/wawe.jpg");
    background-repeat: no-repeat;
    background-size: 50% 820px;
    background-position: top right;
    height: 1050px;
    padding-bottom: 200px;
}

.gallery {
    padding-bottom: 200px;
}

.gallery__title {
    text-align: center;
    margin-bottom: 210px;
}

.gallery__btn {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.5s;
}

.gallery__filter {
    margin-bottom: 50px;
}

.gallery__content {
    display: flex;
    flex-flow: row wrap;
    column-count: 2;
    column-gap: 40px;
    margin-bottom: 33px;
}

.gallery_content-item {
    margin-bottom: 40px;
    position: relative;
}

.play-photo {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #333333;
}
.play-photo:hover {
    opacity: 0.6;
}

.gallery_content-item img {
    width: 100%;
}

.mixitup-control-active {
    color: #00b2a0;
}

.gallery__link-btn {
    text-align: center;
    margin-bottom: 200px;
}

.gallery__link {
    border: 1px solid #c4c4c4;
    padding: 23px 90px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 18px;
    color: #242121;
    letter-spacing: 0.6px;
    font-weight: 400;
    transition: all 0.5s;
}

.gallery__link:hover {
    background-color: #00b2a0;
}

.blockquote {
    background-color: #f8f8f8;
    font-size: 36px;
    line-height: 40px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 80px 0;
    text-align: center;
    margin-bottom: 200px;
}

.blockquote__content {
    position: relative;
}

.blockquote span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    right: 227px;
}

.video__gallery {
    background-image: url("../images/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.gallery__numbers {
    display: flex;
    justify-content: center;
}

.numbers__item {
    font-size: 64px;
    line-height: 75px;
    font-weight: 700;
    color: #01353e;
    text-align: center;
}

.numbers__item + .numbers__item {
    margin-left: 100px;
}

.numbers__item span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
}

.slider-blog__title {
    text-align: center;
    margin-bottom: 230px;
}

.slider-blog__wrapper {
    position: relative;
    padding: 315px 0 55px;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-blog__item {
    margin-bottom: 277px;
}

.slider-blog__wrapper::before {
    content: "";
    position: absolute;
    background: rgba(36, 33, 33, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider-blog__item-link {
    display: block;
    margin-left: auto;
    max-width: 600px;
}

.slider-blog__item-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-blog__item-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots button {
    border: none;
    padding: 0;
    font-size: 0;
    width: 15px;
    height: 15px;
    color: #ffffff;
    border-radius: 50%;
    margin-left: 15px;
}

.slick-active button {
    background-color: #00b2a0;
}

.team {
    padding-bottom: 205px;
}

.team__title {
    text-align: center;
    margin-bottom: 210px;
}

.team-decr__inner {
    display: flex;
    justify-content: space-between;
}

.team__item {
    text-align: center;
}

.team__item img {
    margin-bottom: 25px;
}

.name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.price {
    background-color: #f8f8f8;
    padding-top: 200px;
}

.price__title {
    text-align: center;
    margin-bottom: 185px;
    letter-spacing: 0.6px;
}

.price__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}

.price__inner a {
    color: #01353e;
    padding-bottom: 200px;
}

.price__list li {
    letter-spacing: 0.6px;
}

ul.price__list {
    background-color: #fff;
    text-align: left;
    padding: 30px 15px;
    max-width: 370px;
    padding: 30px 20px;
}

.price__list li + li {
    margin-bottom: 20px;
}

.price__category {
    color: #01353e;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.price__num {
    color: #01353e;
    font-size: 36px;
    line-height: 40px;
    padding-top: 40px;
    text-align: center;
}

li.price__num.standart__num {
    padding-top: 117px;
}

.price__num sup {
    font-size: 18px;
    line-height: 22px;
}

.map {
    background-color: #fff;
}

.application {
    padding-bottom: 200px;
}

.application__title {
    text-align: center;
    margin-bottom: 245px;
}

.application__inner {
    display: flex;
    padding-bottom: 200px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    border: none;
    border-bottom: 2px solid #dadada;
    margin-bottom: 30px;
    padding: 15px;
    width: 570px;
}

.form textarea {
    padding: 15px;
    margin-bottom: 70px;
    width: 570px;
    height: 120px;
}

.form textarea::placeholder,
.form input::placeholder {
    color: #00b2a0;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.6px;
}

.form textarea::placeholder {
    max-width: 260px;
}

.form textarea {
    border: none;
    border-bottom: 2px solid #dadada;
    resize: none;
    margin-top: 50px;
}

.form button {
    max-width: 350px;
    padding: 25px 0;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 24px;
    line-height: 18px;
    color: #242121;
    background-color: transparent;
    border: 1px solid #c4c4c4;
    transition: all .3s;
}

.form button:hover {
    background-color: #00b2a0;
    }


.conatcts {
    width: 600px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 70px;
    margin-left: 30px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.6px;
    font-style: normal;
    font-weight: 400;
    color: #242121;
}

.conatcts a {
    color: #242121;
}

.conatcts span {
    display: block;
}

.tel,
.email {
    margin-bottom: 65px;
}

.conatcts address {
    max-width: 327px;
}

.social-network {
    display: flex;
    justify-content: center;
}

.social-network a {
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #242121;
    margin-left: 10px;
    transition: all 0.3s;
}

.social-network a:hover {
    color: #00b2a0;
}

.footer {
    background-color: #00b2a0;
    text-align: center;
}

.footer-logo {
    display: inline-block;
    padding: 70px 0;
}

@media (max-width: 1229px) {
    .info-descr__title {
        font-size: 35px;
        line-height: 40px;
        text-align: left;
        margin-bottom: 70px;
    }

    .descr-info__content {
        max-width: 100%;
    }

    .advantages-school__items {
        display: block;
        text-align: center;
    }

    .advantages-school__item {
        margin-bottom: 50px;
        max-width: 100%;
    }

    .item__title {
        margin-bottom: 8px;
    }

    .advantages-school__title {
        font-size: 35px;
        line-height: 40px;
        text-align: left;
    }

    .statistics-school__inner {
        display: block;
    }

    .statistics-school__progress {
        max-width: 90%;
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 25px;
    }

    .item__descr {
        font-size: 24px;
        line-height: 25px;
    }

    .statistics-school__descr {
        max-width: 100%;
        font-size: 24px;
        line-height: 25px;
    }

    .statistics-school__descr-text {
        margin-bottom: 10px;
    }

    .info-descr {
        padding: 140px 0 80px;
    }

    .advantages-school {
        padding: 170px 0;
    }

    .stimulus {
        background-image: none;
    }

    .stimulus__title {
        padding-top: 86px;
        margin-bottom: 65px;
    }

    .content-text {
        max-width: 100%;
    }
}

@media (max-width: 1070px) {
    .team-decr__inner {
        column-gap: 20px;
    }

    .price__inner {
        column-gap: 20px;
    }

    .application__inner {
        display: block;
    }

    .application__title {
        text-align: left;
        margin-bottom: 140px;
    }

    .form {
        max-width: 100%;
    }

    .form textarea,
    .form input {
        width: 100%;
    }

    .conatcts {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        column-gap: 20px;
        padding: 50px 0 50px 0px;
        margin-left: 0%;
        font-size: 17px;
    }
}

@media (max-width: 998px) {
    .header__top-inner {
        justify-content: space-between;
        transition: all 0.5s;
    }

    .header__top-inner.header__top-inner--active path {
        fill: yellow;  
    }

    .logo {
        margin-right: 0;
        position: relative;
        z-index: 2;
        margin-left: 15px;
    }


    .menu__btn {
        display: block;
        background-color: transparent;
        padding: 0;
        border: none;
        padding-right: 45px;
        position: relative;
        z-index: 2;
        height: 40px;
        margin-right: 20px;
        transition: all 0.8s;
    }

   .menu__btn.menu__btn--active span,
   .menu__btn.menu__btn--active::before,
   .menu__btn.menu__btn--active::after{
        background-color:yellow;
        transition: all 0.8s;
    }
    .menu__burger,
    .menu__btn::before,
    .menu__btn::after{
        content: '';
        position: absolute;
        background-color: #fff;
        width: 100% ;
        height: 4px;

    }

    .menu__btn::after{
        top: 9px;
        animation-name: affter;
        animation-duration: 2s;
    }

    .menu__btn span{
        animation-name: span;
        animation-duration: 2s;
    }



.menu__btn::before{
    bottom: 5px;
    animation-name: before;
    animation-duration: 2s;
}

@keyframes before{
    0%{
        transform: translatex(1000px);
    }

    50%{
        transform: translatex(-100px);
    }
    70%{
    transform: translatex(10px);
    }
    100%{
        transform: translatex(0px);
    } 
}

@keyframes  span{
    0%{
       opacity: 0;
    }

    25%{
        opacity: 0.25;
    }

    50%{
    opacity: 0.5;
    }

    75%{
       opacity:0.75;
    } 

    100%{
        opacity: 1;
    }
}


    @keyframes affter{
        0%{
            transform: translatex(-1000px);
        }

        50%{
            transform: translatex(100px);
        }
        70%{
        transform: translatex(-10px);
        }
        100%{
            transform: translatex(0px);
        }
    }

    .menu__btn.menu__btn--active span{
        transform: rotate(45deg);
        
    }

    .menu__btn.menu__btn--active::after{
        transform: rotate(-45deg);
        top: 18px;
    }

    .menu__btn.menu__btn--active::before{
        opacity: 0;
    }

    .menu__list {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        background-color: rgba(36, 33, 33, 0.5);
        transform: translateY(-200%);
        transition: all 0.5s;
    }

    ul.menu__list {
        padding-top: 100px;
    }

    .menu__list.menu__list--active {
        transform: translateY(0%);
       
    }

    .menu__list-item {
        text-align: center;
        margin-left: 0;
        padding: 15px 0;
    }

    .menu__list-link {
        display: block;
    }

    .menu__list-item.menu__list-item--active a {
        color: yellow;
        border-bottom: transparent;
    }

    .header__title {
        font-size: 167px;
        line-height: 195px;
    }

    .statistics-school__inner {
        display: block;
    }

    .statistics-school__progress {
        max-width: 90%;
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 25px;
    }

    .item__descr {
        font-size: 24px;
        line-height: 25px;
    }

    .statistics-school__descr {
        max-width: 100%;
        font-size: 24px;
        line-height: 25px;
    }

    .statistics-school__descr-text {
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
    .info-descr__title {
        font-size: 23px;
        line-height: 37px;
        margin-bottom: 51px;
    }

    .info-descr {
        padding: 100px 0 50px;
    }

    .stimulus {
        height: 0%;
    }

    .stimulus__title {
        font-size: 31px;
    }

    .gallery__title {
        text-align: left;
        margin-bottom: 125px;
    }

    .blockquote {
        font-size: 29px;
        line-height: 33px;
        margin-bottom: 100px;
    }

    .blockquote span {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        position: static;
    }

    .gallery__numbers {
        display: block;
        column-count: 2;
    }

    .numbers__item + .numbers__item {
        margin-left: 0;
    }

    .numbers__item {
        margin-bottom: 15px;
    }

    .slick-dots {
        justify-content: flex-start;
    }

    .slick-dots button + button {
        margin-left: 10px;
    }

    .slider-blog__title {
        text-align: left;
        margin-bottom: 115px;
    }

    .price__inner {
        flex-wrap: wrap;
    }

    ul.price__list {
        margin-bottom: 25px;
    }

    .price__inner a {
        padding: 0;
    }

    .price__title {
        text-align: left;
    }

    .application {
        padding-bottom: 100px;
    }

    .application__inner {
        padding-bottom: 0;
    }

    .team__title {
        font-size: 30px;
    }

    .price__title {
        font-size: 30px;
        margin-bottom: 100px;
    }

    @media (max-width: 600px) {
        .header__title {
            font-size: 111px;
            line-height: 134px;
        }

        .header__subtitle {
            font-size: 18px;
            line-height: 23px;
        }

        .info-descr__title {
            font-size: 18px;
            line-height: 35px;
            margin-bottom: 35px;
        }

        .descr-info__content {
            margin-bottom: 18px;
            margin-right: 0;
        }

        .title::after {
            font-size: 40px;
        }

        .item__title {
            min-height: 52px;
        }

        .advantages-school__title {
            font-size: 27px;
            line-height: 36px;
            margin-bottom: 48px;
        }

        .statistics-school__progress {
            max-width: 90%;
            margin-bottom: 60px;
            font-size: 14px;
            line-height: 18px;
        }

        .advantages-school__items {
            margin-bottom: 40px;
        }

        .item__descr {
            font-size: 14px;
            line-height: 18px;
        }

        .statistics-school__descr-text {
            max-width: 100%;
            font-size: 14px;
            line-height: 18px;
        }

        .advantages-school {
            padding: 130px 0;
        }

        .stimulus__title {
            padding-top: 37px;
            margin-bottom: 41px;
        }

        .content-text {
            margin-bottom: 15px;
        }

        .slider-blog__item-title {
            font-size: 35px;
            line-height: 51px;
        }

        .slider-blog__title {
            text-align: left;
            margin-bottom: 131px;
        }

        .team__item img {
            display: inline;
        }

        .team__title {
            text-align: left;
            margin-bottom: 100px;
            font-size: 27px;
            line-height: 42px;
        }

        .price__inner {
            padding-bottom: 100px;
        }

        .application__title {
            font-size: 25px;
            text-align-last: left;
        }
    }

    @media (max-width: 510px) {
        .blockquote {
            font-size: 16px;
            line-height: 26px;
        }

        .team-decr__inner {
            display: block;
            text-align: center;
        }

        .team__item {
            margin-bottom: 25px;
        }
    }

    @media (max-width: 420px) {
        .header__title {
            font-size: 86px;
            line-height: 106px;
        }

        .header__subtitle {
            font-size: 15px;
            line-height: 18px;
        }

        .info-descr__title {
            font-size: 14px;
            line-height: 31px;
            margin-bottom: 15px;
        }

        .title::after {
            font-size: 40px;
        }

        .advantages-school__title {
            font-size: 21px;
            line-height: 33px;
            margin-bottom: 39px;
        }

        .advantages-school__item {
            margin-bottom: 25px;
        }

        .item__title {
            font-size: 16px;
            line-height: 20px;
        }

        .info-descr {
            padding: 75px 0 30px;
        }

        .advantages-school {
            background: #f8f8f8;
            padding: 0;
        }

        .advantages-school__title {
            font-size: 18px;
        }

        .stimulus__title {
            padding-top: 28px;
            margin-bottom: 22px;
            font-size: 20px;
            line-height: 45px;
        }

        .gallery__filter {
            display: block;
        }

        .gallery__btn {
            margin-bottom: 15px;
            display: block;
        }

        .gallery__title {
            margin-bottom: 70px;
        }

        .gallery__link {
            padding: 20px 38px;
        }

        .gallery__numbers {
            column-count: 1;
        }

        .slider-blog__item-title {
            font-size: 27px;
            line-height: 48px;
        }
        .social-network a{
            font-size: 15px;
        }
    }


